[Unit]
Description=DB Daily Backup
After=network.target

[Service]
Environment="AWS_CONFIG_FILE=/home/aerotract/.aws/credentials"
ExecStart=/home/aerotract/miniconda3/envs/web/bin/python3 /home/aerotract/software/DatabaseBackupService/database_backup.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target