[Unit]
Description=DB Daily Backup
After=network.target

[Service]
User=aerotract
Environment="AWS_CONFIG_FILE=/home/aerotract/.aws/credentials"
ExecStart=/usr/bin/python3 /home/aerotract/software/DBDailyBackup/database_backup.py
Restart=on-failure

[Install]
WantedBy=multi-user.target